.auth-page {
    background-color: #eef7f7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 40%;
    padding: 24px;
    margin: 72px 0;
    background-color: #dfe4e4;
    border-radius: 24px;
    box-shadow: 9px 11px 18px -10px black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container h1 {
    font-size: 32px;
    color: #37513b;
    margin-bottom: 20px;
}

.auth-container h3 {
    font-size: 20px;
    color: #37513b;
    margin-bottom: 18px;
}

.auth-container input {
    width: 70%;
    height: 48px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 16px;
}

.auth-container button {
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #37513b;
    color: #eef7f7;
    font-size: 18px;
    margin-bottom: 32px;
    cursor: pointer;
}

.auth-container p {
    font-size: 24px;
    color: #37513b;
    margin-bottom: 32px;
}

.auth-container span {
    font-style: italic;
    font-weight: 600;
}

/* Tablet Display Setting */
@media screen and (max-width: 1000px) {
    .auth-container {
        width: 60%;
    }

    .auth-container input {
        width: 80%;
    }

    .auth-container button {
        width: 40%;
    }
}

/* Phone Display Setting */
@media screen and (max-width: 400px) {
    .auth-container {
        width: 80%;
    }

    .auth-container p {
        text-align: center;
        font-size: 22px;
    }
}